<header>
  <nav class="header">
    <ul>
      	<li><%= link_to "Home", root_path %></li>
    	<li><%= link_to "Trades", trades_path %></li>
        <li><%= link_to "Portfolios", portfolios_path %></li>
        <li><%= link_to "Quotes", "#" %></li>
    </ul>
  </nav>
</header>